html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.nav_style {
  /* background-color: #a29bfe !important; */
}

.nav_style a {
  color: white;
}

/* Main Header */

.main_header {
  height: 450px;
  width: 100%;
}

.rightside h1 {
  font-size: 3rem;
}

.corona_rot img {
  animation: gocorona 3s linear infinite;
}

@keyframes gocorona {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leftside img {
  animation: heartbeat 5s linear infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

/* ***************************Corona Update *************************** */

.corona_update {
  margin: 0px 0px 30px 0px;
}

.corona_update h3 {
  color: #ff7675;
}

.corona_update h1 {
  font-size: 2rem;
  text-align: center;
}

/* **************************** Sub Section **************************** */

.sub_section {
  background-color: #fbfafd;
}

.about_res {
  margin-left: 3rem;
}

/* ******************************* footer ******************************** */

.footer_style {
  /* background-color: #a29bfe !important; */
}
.footer_style p {
  margin-bottom: 0px !important;
}

/* ****************************** top scroll ******************************** */

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #00a8ff;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #606060;
}

/* ************************* Responsive ****************************** */

@media (max-width: 768px) {
  .main_header {
    height: 700px;
    text-align: center;
  }
  .main_header h1 {
    text-align: center;
    padding: 0px;
    width: 100%;
    font-size: 30px;
  }

  .about_res {
    margin-left: 0 !important;
    margin-bottom: 15px;
  }

  .count_style p {
    text-align: center !important;
  }
}
